Source: plover
Maintainer: Karl M. Hegbloom <karl.hegbloom@gmail.com>
Section: utils
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), python-dev

Package: plover
Architecture: any
Depends: ${misc:Depends}, python-appdirs, python-serial (>=2.6-1ppa1), python-wxgtk2.8, python-xlib, wmctrl
Description: Open Source Stenography Software.
